<div class="container" *ngFor="let categories of category">
    <div class="title" id="{{categories.category}}">
        <h1>{{categories.category}}</h1>
    </div>
    <div class="content">
        <mat-card *ngFor="let food of categories.foods" (click)="updateFood(food)">
            <mat-card-header>
                <mat-card-title>
                    {{ food.title }}
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ food.image }}" class="mat-elevation-z8" />
            <mat-card-actions>
                <p><strong>Valor: </strong> {{ food.price | currency : "BRL" }}</p>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
