<mat-sidenav-container>
    <mat-toolbar color="accent">
        <div class="containerToolbar">
            <div class="menu">
                <button mat-icon-button (click)="sidenav.open()"><mat-icon>menu</mat-icon></button><span>Menu</span>
            </div>
            <div class="titleToolbar">
                <mat-icon>restaurant</mat-icon> |
                <mat-icon>lunch_dining</mat-icon>
            </div>
            <div class="adicionar">

                <div class="menu">
                    <button (click)="openDialog()" mat-icon-button><mat-icon>add</mat-icon></button><span>Adicionar</span>
                </div>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav #sidenav mode="over">
        <div class="sidenav">
            <mat-list class="sidenav-menu-fechar">
                <button mat-icon-button color="warn" class="fecharSidenav" (click)="sidenav.close()"><mat-icon>close</mat-icon></button>
            </mat-list>
            <mat-list *ngFor="let categories of category">
                <a href="#">
                    <h2>{{categories.category}}</h2>
                </a>
            </mat-list>

            <div class="actions">
                <!-- <div class="sidenavCadastrar">
                    <button mat-raised-button color="primary"><mat-icon>category</mat-icon>Cadastrar Categoria</button>
                </div> -->
                <!--
                <div class="sidenavCadastrar">
                    <button mat-raised-button color="primary"> <mat-icon class="mat-18">person</mat-icon> Logar</button>
                </div> -->
            </div>
        </div>
    </mat-sidenav>
    <app-main-food></app-main-food>
</mat-sidenav-container>
<router-outlet></router-outlet>