mat-sidenav-container {
    height: 100%;
    /* display: flex; */
}

mat-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerToolbar {
    margin: 0;
    padding: 0;
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    align-items: center;
    /* padding-right: 30px; */
}

.titleToolbar {
    font-size: 40px;
}

.titleToolbar>mat-icon {
    width: auto;
    height: auto;
}

mat-sidenav {
    height: 100%;
    width: 30%;
    text-align: center;
}

.sidenav {
    align-items: center;
    margin: 10px;
    /* margin-top: 35%; */
    /* margin: 50% 30px 50% 10px; */
}

.sidenav-menu-fechar {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.sidenavCadastrar>button {
    margin: 10px;
    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}