mat-sidenav-container {
    height: 100%;
}

mat-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerToolbar {
    margin: 0;
    padding: 0;
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.titleToolbar {
    font-size: 40px;
}

.titleToolbar>mat-icon {
    width: auto;
    height: auto;
}

mat-sidenav {
    height: 100%;
    width: 30%;
    text-align: center;
}

.sidenav {
    align-items: center;
    margin: 50px 30px 0px 0px;
    /* margin: 20% 30px 50% 30px; */
}

.sidenavCadastrar>button {
    margin: 10px;
    width: 100%;
}

.sidenavLogar>button {
    margin: 10px;
    width: 100%;
}


/* .fecharSidenav {
    margin: 10px;
    width: 100%;
} */

a {
    text-decoration: none;
    color: black;
}